@define-mixin atSmall(){
    @media(min-width: 550px){
        @mixin-content;
    }    
}
@define-mixin atMedium(){
    @media(min-width: 800px){
        @mixin-content;
    }    
}
@define-mixin atLarge(){ 
    @media(min-width: 1100px){
        @mixin-content;
    }
}
@define-mixin clearfix{
    &::after{
        content: "";
        display: block;
        clear: both;
    }
}
/*
@define_mixin atSmall(){
    @media(max-width: 575.98px){
        @mixin-content;
    }    
}
// Small devices (landscape phones, less than 768px)


// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }*/
